*{
    box-sizing: border-box;
}
ul,nav, header,h2,p,ol{
    margin: 0;
    padding: 0;
}
body{

    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(192, 192, 192);

}

.log{

    width: 100%;
    height: 100%;
}
img{
width: 300px;
height: 50px;
    
}
#header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(233, 233, 233);
    
}
.logo{
    width: 740px;
}
.ul{
    display: flex;
    justify-content:space-around;

    align-items: center;
    width: 400px;

}
 a{

    text-decoration: none;
    list-style: none;
    color: black;
}

section{

    height:auto;
    padding: 30px;
}
#hero{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form{

    width: 300px;
}
input{

    display: block;
    width: 300px;
    height: 30px;
    margin: 10px 0;
    font-size: inherit;
    font-family: inherit;
}
.button{

    background: rgb(243, 214, 47);
    border: none;
    border-radius: 5px;
    font-weight: 700;
    width: 200px;
    margin: 10px auto;
    height: 35px;
    font-family: inherit;
}
.container{

    width: 1000px;
    margin: 0 auto;
}

.grid{

    display: flex;
    

}
.desc{

display: flex;
flex-direction: column;
justify-content: center;
padding: 0 5px;
height: 125px;
width: 70vw;

}
.icon img{
width: 50px;
height: 50px;

}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
#how-it-work{

    display: flex;
    justify-content: center;
}
#video{

    width: 450px;
}
#princing{

    display: flex;
    justify-content: space-around;
    font-family: inherit;

}
.product{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    width: calc(100%/3);
    margin: 10px;
}

.level{
  width: 100%;
  text-align: center;
  padding: 15px 0 !important;
    background-color: rgb(158, 156, 156);
    padding:  0 5px;
    text-transform: uppercase;
}
h2{
    margin: 15px 0;
}

li{

    list-style: none;
    padding: 5px;
    

}

#hero h2{
    margin-top: 45px;
}
footer{

    background:rgb(233, 233, 233);
    margin: 0 40px;
    height: 60px;
}

footer ul,span {

    display: flex;
    justify-content: flex-end;
    padding: 2px 5px;
}

@media (max-width: 950px){

    #princing {
        display: flex;
        flex-direction: column;
        align-items:center ;
        font-family: inherit;
    }
}

